@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;900&family=Space+Mono:ital@0;1&display=swap');

h1{
	font-weight: bold;
	font-size: 80px;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	margin-top: 150px;

}

p{
	font-size: 35px;
	font-family:  'Montserrat', sans-serif;
	text-align: center;
	margin-bottom: 30px;
}

.avatar-image{
	text-align: center;
	margin-bottom: 30px;
}

.avatar{
	width: 10%;
	border-radius: 50%;
}

.social-media{
	text-align: center;
	
}

.icon{
	width: 30%;
	text-align: center;
	margin-bottom: 30px;
	opacity: 70%;
}


hr{
	width: 50%;
	margin: 0 auto;
}

.foot-links{

	text-align: center;
	font-family: "Montserrat", sans-serif;

}

.link{
	text-decoration: none;
	color: grey;
}

body{
	background-color: rgb(230, 231, 233);
	background-image: url("./images/bg.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position-y: -115px;
}

.vertical-center{
	min-height:  100vh;
	display: flex;
	align-items: center;
}







